<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939956133781-9dni77q1o64sq6ob3copg4vp0ol68hn0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939956133781-9dni77q1o64sq6ob3copg4vp0ol68hn0</string>
	<key>API_KEY</key>
	<string>AIzaSyCOMkfiFQuInhLlZdRE5x5aCRBOlpAIyWg</string>
	<key>GCM_SENDER_ID</key>
	<string>939956133781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twocenter.giftService2</string>
	<key>PROJECT_ID</key>
	<string>giftservice2</string>
	<key>STORAGE_BUCKET</key>
	<string>giftservice2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939956133781:ios:0c2dffade162d0c153a09c</string>
	<key>DATABASE_URL</key>
	<string>https://giftservice2.firebaseio.com</string>
</dict>
</plist>